<ion-view view-title="My Tasks">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-search"></button>
    <button class="button button-icon button-clear ion-ios-bell"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="task-item" ng-repeat="task in tasks | filter:{done: false}" href="#/app/task/{{task.id}}">
        <ion-slide-box on-slide-changed="completeTask(task.id, $index)" show-pager="false">
          <ion-slide>
            <div class="task-card">{{task.title}}</div>
          </ion-slide>
          <ion-slide>
            <div class="task-card green"><i class="icon ion-checkmark-round"></i></div>
          </ion-slide>
        </ion-slide-box>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
